/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif; }

/*colores principales*/
/*mq*/
@media screen and (max-width: 600px) {
  h1 {
    display: none; }
  header {
    display: flex;
    justify-content: space-around; }
  .main-ps {
    display: none; }
  .suge-p {
    display: none; }
  .suge-p2 {
    font-size: 1rem; }
  .principal-prod {
    display: flex;
    flex-wrap: wrap; }
  .historia {
    display: none; }
  .suge-p2 {
    font-size: 1.5rem; } }

@media screen and (max-width: 1300px) {
  .banner {
    width: 100%;
    margin: 0; }
  .banner-side {
    width: 70%;
    margin: 0; } }

@media screen and (max-width: 920px) {
  .img-historia {
    display: none; } }

/* estilos del encabezado */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../img/fondo.jpg");
  background-position: center;
  background-size: cover; }
  header img {
    width: 300px; }
    header img:hover {
      transform: scale(1.5); }
  header nav div ul li {
    list-style: none;
    display: inline-block;
    background-image: linear-gradient(to top, #a35858, #848bd9);
    text-shadow: #F60202;
    font-size: large;
    border-radius: 5px;
    color: white;
    margin: 0; }
    header nav div ul li a {
      text-decoration: none; }
  header h1 {
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(to top, #2A4A9C, black);
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-shadow: #F60202 2px 2px; }

/*estilos del main*/
main {
  text-align: center;
  background-image: linear-gradient(to top, #2A4A9C, black);
  color: white; }
  main .prod-principal {
    background-image: linear-gradient(to bottom #2A4A9C, black); }
  main p {
    font-size: 1.5rem; }
  main .main-ps {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: center;
    background-color: black;
    color: white; }
  main h2 {
    justify-items: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, #2A4A9C, black);
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-shadow: #F60202 2px 2px; }
  main .banner {
    width: 70%;
    margin: 30px; }
  main .banner-side {
    width: 20%; }
  main .suge-p {
    padding: 50px;
    font-size: 1.5rem;
    text-align: start;
    align-self: start;
    text-shadow: #F60202 2px 2px;
    font-size: 1.5rem; }
  main .suge-p2 {
    text-shadow: #F60202 2px 2px;
    font-size: 3rem; }

.img-historia {
  margin: 30px;
  width: 900px;
  border-radius: 50px;
  box-shadow: -6px 6px #F60202; }

.sobre-nosotros p {
  padding: 30px;
  text-align: left; }

.img-explora {
  width: 300px;
  margin: 20px;
  border-radius: 7px;
  box-shadow: -6px 6px #F60202; }

div p {
  padding: 60px; }

main h1, main p {
  text-align: center; }

div img {
  width: 300px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: -6px 6px #F60202; }

.img-sugerencias {
  width: 50%;
  border-radius: 50px;
  margin: 20px;
  box-shadow: -6px 6px #F60202; }

.sobre-p {
  padding: 25px;
  text-align: start; }

/* flex */
.container-explora {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.principal-prod {
  display: flex;
  justify-items: center;
  flex-wrap: wrap; }

.suge-principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.nos-principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

/*grid index*/
.container-prin {
  display: grid;
  grid-template-areas: "main main" "section section" "footer footer"; }

.indx-principal {
  grid-area: main; }

.indx-seccion {
  grid-area: section; }

.indx-pie {
  grid-area: footer; }

/* grid productos */
.container-prod {
  grid-template-areas: "main" "footer"; }

.prod-principal {
  grid-area: main; }

.prod-pie {
  grid-area: footer; }

/* grid sobre nosotros */
.container-nos {
  grid-template-areas: "main" "footer"; }

.nos-principal {
  grid-area: main; }

.nos-pie {
  grid-area: footer; }

/* grid sugerencias */
.container-suge {
  grid-template-areas: "main" "footer"; }

.suge-principal {
  grid-area: main; }

.suge-pie {
  grid-area: footer; }

/* grid explora */
.container-exp {
  grid-template-areas: "main" "footer"; }

.exp-principal {
  grid-area: main; }

.exp-pie {
  grid-area: footer; }

/* estilos del section */
section {
  background-image: linear-gradient(to top, #2A4A9C, black);
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  justify-content: center;
  flex-wrap: wrap; }
  section img {
    width: 300px;
    margin: 30px;
    border-radius: 7px;
    box-shadow: -6px 6px #F60202; }
  section .prod-seccion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

/* estilos del footer */
footer {
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(to bottom, #2A4A9C, black);
  color: white; }
  footer ul li {
    margin: 10px;
    padding: 20px;
    list-style: none;
    display: inline-block; }
    footer ul li img {
      width: 45px;
      display: block; }
  footer h3 {
    color: red; }
