/*estilos del main*/

main{
    text-align: center;
    background-image: linear-gradient(to top, #2A4A9C, black);
    color: white;

.prod-principal{
    background-image: linear-gradient(to bottom #2A4A9C, black);;
}

p{
    font-size: 1.5rem;
}

.main-ps{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:auto;
    justify-items: center;
    background-color: black;
    color: white;
}

h2{
    justify-items: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, $azul, black);
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-shadow: $rojo 2px 2px;
}
.banner{
    width: 70%;
    margin: 30px;
}
.banner-side{
    width: 20%;
}
.suge-p{
    padding: 50px;
    font-size: 1.5rem;
    text-align: start;
    align-self: start;
    text-shadow: $rojo 2px 2px;
    font-size: 1.5rem;
}
.suge-p2{
    text-shadow: $rojo 2px 2px;
    font-size: 3rem;
}
}
.img-historia{
    margin: 30px;
    width: 900px;
    border-radius: 50px;
    box-shadow: -6px 6px $rojo;
}
.sobre-nosotros p{
    padding: 30px;
    text-align: left;
}
.img-explora{
    width: 300px;
    margin: 20px;
    border-radius: 7px;
    box-shadow: -6px 6px #F60202;
}
div{
    p{
    padding: 60px;
    }
}
main h1, main p{
    text-align: center;
}
div{
    img{
        width: 300px;
        margin: 10px;
        border-radius: 7px;
        box-shadow: -6px 6px $rojo;
    }
}
.img-sugerencias{
    width: 50%;
    border-radius: 50px;
    margin: 20px;
    box-shadow: -6px 6px $rojo;
}
.sobre-p{
    padding: 25px;
    text-align: start;
}
/* flex */

.container-explora{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.principal-prod{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.suge-principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nos-principal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*grid index*/

.container-prin{
    display: grid;
    grid-template-areas: 
        "main main"
        "section section"
        "footer footer";
}

.indx-principal{
    grid-area: main;
}

.indx-seccion{
    grid-area: section;
}

.indx-pie{
    grid-area: footer;
}

/* grid productos */
    
.container-prod{
    grid-template-areas: 
        "main"
        "footer";
}

.prod-principal{
    grid-area: main;
}

.prod-pie{
    grid-area: footer;
}

/* grid sobre nosotros */

.container-nos{
    grid-template-areas:
        "main"
        "footer";   
}

.nos-principal{
    grid-area: main;
}

.nos-pie{
    grid-area: footer;
}

/* grid sugerencias */

.container-suge{
    grid-template-areas:
        "main"
        "footer";   
}

.suge-principal{
    grid-area: main;
}

.suge-pie{
    grid-area: footer;
}

/* grid explora */

.container-exp{
    grid-template-areas:
        "main"
        "footer";   
}

.exp-principal{
    grid-area: main;
}

.exp-pie{
    grid-area: footer;
}
